.post-img{
    height: 404px;
    overflow: hidden; 
}
.post-img img{
    width: 100%;
}
.blog-post-content{
    /* background-color: rebeccapurple; */
}
.blog-post-content h1{
    text-align: center;
}
.blog-post-content p{
    font-size: 18px; 
}

.row{
    display: flex;
}
.more-post{
    flex-direction: column; 
    align-items: center;
}
.blogpost-meta{ 
    display: flex;
    justify-content: space-between;
}

.author-info{
    margin: 12px 0;
}
.author-info div{
    padding: 4px 0px;
    font-family: var(--font2);
}
.social{
    padding-right: 53px;
    align-self: center;
    cursor: pointer;
}
html {
    scroll-behavior: smooth;
  }
  .to-top {
    background: #E8E8E8
    ;
    position: fixed;
    bottom: 16px;
    right:32px;
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:32px;
    color:#1f1f1f;
    text-decoration: none;
    opacity:0;
    pointer-events: none;
    transition: all .4s;
  }
  
  .to-top.active {
    bottom:32px;
    pointer-events: auto;
    opacity:1;
  }  